<!DOCTYPE html>
<!-- This website template was created by: Hoang Thach -->
<html lang="en">
    <head>
        <link rel="stylesheet" href="../css/styles.css">
        <title>Fenikya 74</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="FVN has state-ofthe-art ABC."> 
        <script src="../scripts/myFunctions.js"  type="text/javascript"></script>
    </head>
    <body>

        <div id="container">

            <!-- Use the header area for the website name or logo -->
            <header>
                <img src="../images/fenikya_logo.png" alt="Fenikya Vietnam" height="200">
            </header>

            <!-- Use the nav area to add hyperlinks to other pages within the website -->
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="linux.html">Linux</a></li>
                    <li><a href="software.html">Software</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </nav>

            <!-- Use the main area to add the main content of the webpage -->
            <main>

                <section>
                    <h1>Ubuntu</h1>
                    <img class="equip" src="../images/equipment1.jpg" alt="Ubuntu Equipment">
                    <p>Download Ubuntu desktop and replace your current operating system whether it’s Windows or macOS or run Ubuntu alongside it.</p>
                    <ul class="items">
                        <li>Ubuntu Desktop</li>
                        <li>Ubuntu Server</li>
                        <li>Ubuntu Cloud</li>
                    </ul><br>
                </section>

                <section>
                    <h1>VLC media player</h1>
                    <img class="equip" src="../images/equipment2.png" alt="VLC Equipment">
                    <p>VLC media player (previously the VideoLAN Client and commonly known as simply VLC) is a free and open-source, portable, cross-platform media player software and streaming media server developed by the VideoLAN project.</p>
                    <ul class="items">
                        <li>Effects (desktop version)</li>
                        <li>Formats</li>
                        <li>ABC</li>
                    </ul><br>
                </section>

                <section>
                    <h1>LibreOffice</h1>
                    <img class="equip" src="../images/equipment3.png" alt="LibreOffice Equipment">
                    <p>LibreOffice is a powerful and free office suite, a successor to OpenOffice(.org), used by millions of people around the world. Its clean interface and feature-rich tools help you unleash your creativity and enhance your productivity. LibreOffice includes several applications that make it the most versatile Free and Open Source office suite on the market: Writer (word processing), Calc (spreadsheets), Impress (presentations), Draw (vector graphics and flowcharts), Base (databases), and Math (formula editing).</p>
                    <ul class="items">
                        <li>Writer</li>
                        <li>Calc</li>
                        <li>Impress</li>
                    </ul><br>
                </section>
                
                <section class="tablet">
                    <h1>Open Source Software</h1>
                    <p>It’s amazing how our entire world has become digital. A multitude of devices and gadgets surrounds us, and we can’t imagine our lives without them now. One among the many that have engulfed us in its usefulness is open source software.</p>
                    <dl>
                        <dt>GIMP</dt>
                        <dd>GIMP was launched in 1996 and is one of the most popular open-source image editing software present in the market right now.<br>
                        <button onclick="video1()">See more</button>
                        </dd>

                        <dt>Python</dt>
                        <dd>Python is a programming and scripting language commonly used by developers. That’s why it is said to be one of the best open-source software for developers.<br>
                        <button onclick="video2()">See more</button>
                        </dd>

                        <dt>Mozilla Firefox</dt>
                        <dd>Mozilla Firefox is said to be one of the most successful open source projects globally.<br>It is a web browser just like google chrome and was released in 2002. It helps the users with a simplistic user interface and an intelligent address bar.<br>
                        <button onclick="video3()">See more</button>
                        </dd>
                    </dl>

                    <p>For more information about how to stay active, visit <a href="https://blog.digitalogy.co/top-open-source-software-examples/">25+ Top Open Source Software Examples Of 2022</a></p>
                </section>

            </main>

            <!-- Use the footer area to add webpage footer content -->
            <footer>

                <div id="copyright">
                    <p>&copy; Copyright 2022. All Rights Reserved.<br>
                    <a href="mailto:thachhoang397@gmail.com">thachhoang397@gmail.com</a> &nbsp; &nbsp;</p>
                </div>

                <div id="social">
                    <p>Connect with us:</p>
                    <p><a href="https://www.facebook.com"><img src="../images/fblogo.png" alt="Facebook logo" height="20"></a>
                    <a href="https://twitter.com"><img src="../images/twitterlogo.png" alt="Twitter logo" height="20"></a></p>
                </div>
                
            </footer>
        </div>
    </body>
</html>