<!DOCTYPE html>
<!-- This website template was created by: Hoang Thach -->
<html lang="en">
    <head>
        <link rel="stylesheet" href="../css/styles.css">
        <title>Fenikya 74</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <div id="container">

            <!-- Use the header area for the website name or logo -->
            <header>
                <img src="../images/fenikya_logo.png" alt="Fenikya Vietnam" height="200">
            </header>

            <!-- Use the nav area to add hyperlinks to other pages within the website -->
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="linux.html">Linux</a></li>
                    <li><a href="software.html">Software</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </nav>

            <!-- Software Page Banner -->
            <div id="banner" class="desktop">
                <img src="../images/softwarebanner.jpg" alt="linux banner image">
            </div>

            <!-- Use the main area to add the main content of the webpage -->
            <main>

                <div class="mobile">

                    <h3>List Linux</h3>
                    <p>Boot Camp: TR 5am &amp; 5pm</p>
                    <p>Cardio: MWF 6am &amp; 6pm</p> 
                    <p>Kickboxing: MWF 8am &amp; 7:15pm</p>
                    <p>Spinning: TR 6am &amp; 6pm</p>
                    <p>Yoga: TR 6am &amp; 6pm</p>
                    <p>Zumba: MWF 7am &amp; 6pm</p>

                </div>

                <div class="desktop">

                    <table><!-- Start Table -->
                        <caption>List Linux</caption>
                        <tr><!-- Row 1 -->
                            <th>Linux OS</th>
                            <th>ABC</th>
                            <th>Last version</th>
                            <th>Release</th>
                            <th>Link</th>
                        </tr>
                        <tr><!-- Row 2 -->
                            <td>Ubuntu</td>
                            <td>ABC</td>
                            <td>2204</td>
                            <td>2022</td>
                            <td>Link Ubuntu</td>
                        </tr>
                        <tr><!-- Row 3 -->
                            <td>Ubuntu</td>
                            <td>ABC</td>
                            <td>2204</td>
                            <td>2022</td>
                            <td>Link Ubuntu</td>
                        </tr>
                        <tr><!-- Row 4 -->
                            <td>Ubuntu</td>
                            <td>ABC</td>
                            <td>2204</td>
                            <td>2022</td>
                            <td>Link Ubuntu</td>
                        </tr>
                        <tr><!-- Row 5 -->
                            <td>Ubuntu</td>
                            <td>ABC</td>
                            <td>2204</td>
                            <td>2022</td>
                            <td>Link Ubuntu</td>
                        </tr>
                        <tr><!-- Row 6 -->
                            <td>Ubuntu</td>
                            <td>ABC</td>
                            <td>2204</td>
                            <td>2022</td>
                            <td>Link Ubuntu</td>
                        </tr>
                        <tr><!-- Row 7 -->
                            <td>Ubuntu</td>
                            <td>ABC</td>
                            <td>2204</td>
                            <td>2022</td>
                            <td>Link Ubuntu</td>
                        </tr>

                    </table><!-- End Table-->
                </div>
            </main>

            <!-- Use the footer area to add webpage footer content -->
            <footer>

                <div id="copyright">
                    <p>&copy; Copyright 2022. All Rights Reserved.<br>
                    <a href="mailto:thachhoang397@gmail.com">thachhoang397@gmail.com</a> &nbsp; &nbsp;</p>
                </div>

                <div id="social">
                    <p>Connect with us:</p>
                    <p><a href="https://www.facebook.com"><img src="../images/fblogo.png" alt="Facebook logo" height="20"></a>
                    <a href="https://twitter.com"><img src="../images/twitterlogo.png" alt="Twitter logo" height="20"></a></p>
                </div>
                
            </footer>
        </div>
    </body>
</html>