<!DOCTYPE html>
<!-- This website template was created by: Hoang Thach -->
<html lang="en">
    <head>
        <link rel="stylesheet" href="../css/styles.css">
        <title>Fenikya 74</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <div id="container">

            <!-- Use the header area for the website name or logo -->
            <header>
                <img src="../images/fenikya_logo.png" alt="Fenikya Vietnam" height="200">
            </header>

            <!-- Use the nav area to add hyperlinks to other pages within the website -->
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="linux.html">Linux</a></li>
                    <li><a href="software.html">Software</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </nav>

            <!-- Software Page Banner -->
            <div id="banner" class="desktop">
                <img src="../images/softwarebanner.jpg" alt="software banner image">
            </div>

            <!-- Use the main area to add the main content of the webpage -->
            <main>

                <article>
                    <h2>What is software?</h2>
                    <img src = "../images/software1.png" alt = "what is software" class="desktop">
                    <p>Software is a set of computer programs and associated documentation and data.[1] This is in contrast to hardware, from which the system is built and which actually performs the work.</p>
                    <p>At the lowest programming level, executable code consists of machine language instructions supported by an individual processor—typically a central processing unit (CPU) or a graphics processing unit (GPU).</p>
                    <p>Machine language consists of groups of binary values signifying processor instructions that change the state of the computer from its preceding state.</p>
                    <p>For example, an instruction may change the value stored in a particular storage location in the computer—an effect that is not directly observable to the user.</p>
                    <aside>This article needs additional citations for verification.</aside>
                </article>

                <article>
                    <h2>Software categories</h2>
                    <img src="../images/software2.jpg" alt="software categories" class="desktop">
                    <p>Purpose, or domain of use</p>
                    <ul>
                        <li>Application software uses the computer system to perform special functions beyond the basic operation of the computer itself.</li>
                        <li>System software manages hardware behaviour, as to provide basic functionalities that are required by users, or for other software to run properly, if at all.</li>
                        <li>Operating systems, Device drivers, Utilities.</li>
                        <li>Malicious software, or malware, is software that is developed to harm or disrupt computers.</li>
                    </ul>
                    <p>Programming tools are also software in the form of programs or applications that developers use to create, debug, maintain, or otherwise support software.</p>
                    <p>Software is written in one or more programming languages; there are many programming languages in existence, and each has at least one implementation, each of which consists of its own set of programming tools.</p>
                    <p>These tools may be relatively self-contained programs such as compilers, debuggers, interpreters, linkers, and text editors, that can be combined to accomplish a task; or they may form an integrated development environment (IDE), which combines much or all of the functionality of such self-contained tools.</p>
                    <aside>On virtually all computer platforms, software can be grouped into a few broad categories.</aside>
                </article>

                <article>
                    <h2>Adobe Creative Cloud</h2>
                    <img src="../images/software3.jfif" alt="adobe creative cloud" class="desktop">
                    <p>Make. Create. Amazing.</p>
                    <p>Whatever you want to create, we have what you need to make it amazing.</p>
                    <ul>
                        <li>Photoshop</li>
                        <li>Illustrator</li>
                        <li>Acrobat Pro</li>
                        <li>Premiere Pro</li>
                        <li>InDesign</li>
                        <li>Adobe Express</li>
                    </ul>
                    <p>New in Creative Cloud<br>
                        Create faster with new AI features in Illustrator, Premiere Pro, and Lightroom. Collaborate with Share for Review in Photoshop and Illustrator. And make standout content quickly with Adobe Express.</p>
                    <aside>Try 20+ creative apps, including Photoshop and Acrobat Pro, plus all the perks of membership.</aside>

                </article>
            </main>

            <!-- Use the footer area to add webpage footer content -->
            <footer>

                <div id="copyright">
                    <p>&copy; Copyright 2022. All Rights Reserved.<br>
                    <a href="mailto:thachhoang397@gmail.com">thachhoang397@gmail.com</a> &nbsp; &nbsp;</p>
                </div>

                <div id="social">
                    <p>Connect with us:</p>
                    <p><a href="https://www.facebook.com"><img src="../images/fblogo.png" alt="Facebook logo" height="20"></a>
                    <a href="https://twitter.com"><img src="../images/twitterlogo.png" alt="Twitter logo" height="20"></a></p>
                </div>
                
            </footer>
        </div>
    </body>
</html>